<div class="mainFlexBox">
  <div class="contactBoxes">
    <div>
      <span class="text-secondary"><h2>Email:</h2></span>
      <span class="text-accent">wilshmail@spunion.com</span>
    </div>
    <div>
        <span class="text-secondary"><h2>Phone: </h2></span>
        <span class="text-accent">(123) 456-7890</span>
    </div>
  </div>
  <div id="socialMedia">
      <a href="https://www.instagram.com/friedspuniondyes/" >
          <i class="fa fa-instagram"></i>
      </a>
  </div>
  
</div>
